/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
       min-height: 500px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
margin: 0;
padding: 0;
}

#post-time{
       margin-top: 0px;
       margin-bottom: 0px;
       color: #999999;
       font-size: x-small;
}

#avatar{
       width: 70px;
       height: 70px;
       border-radius: 50%;
       margin: 5px 10px
}
.my-in{
       display: inline-block;
}
#u-data{
       /* display: flex */
}